<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.apkode.matano">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2044937602399034"
            android:exported="true" />

        <activity
            android:name=".activity.Launch"
            android:label="@string/title_activity_launch"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.EventsActivity"
            android:label="@string/title_activity_events"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/title_activity_event"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.apkode.matano.activity.EventsActivity" />
        </activity>
        <activity
            android:name=".activity.EventVideo"
            android:label="@string/title_activity_event_video"
            android:parentActivityName=".activity.EventActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.apkode.matano.activity.EventActivity" />
        </activity>
        <activity
            android:name=".activity.EventPhoto"
            android:label="@string/title_activity_event_photo"
            android:parentActivityName=".activity.EventActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.apkode.matano.activity.EventActivity" />
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.EventActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.apkode.matano.activity.EventActivity" />
        </activity>
        <activity
            android:name=".activity.ProfilActivty"
            android:label="@string/title_activity_profil_activty"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.InscriptionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".activity.ConnexionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>